log4j-application.log
target/classes/framework/FrameworkBase.class
target/test-classes/wikitest/WikiWeightNameTest.class
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.forteknowledge/SeleniumFinal/pom.properties
target/classes/META-INF/maven/com.forteknowledge/SeleniumFinal/pom.xml
